/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    max-width: 1920px;
    font-size: 10px;
}

/* Form Styles */

main form {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 5rem auto
}

main form label {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: bolder;
}

main form label span {
    color: red;
}

main form div {
    display: flex;
    gap: 1rem;
}


#name,
#email {
    width: 100%;
    padding: 1rem;
}

#nachricht {
    resize: vertical;
}

input[type="submit"] {
    margin-top: 2rem;
    background-color: rgb(3, 89, 146);
    padding: 1rem;
    color: white;
}

input[type="submit"]:hover {
    background-color: rgb(11, 11, 76);
}